.section-Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.section-Title h3 {
    color: #18b4b0;
}
.section-Title h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 46px;
}

